/* Reset */
*{
	margin: 0;
	padding: 0;
}

/* =========NAV==========*/
.container-fluid {
	width: 95%;
	margin: 10px auto;
}

.logo{
	margin: 0 auto;
	max-width: 100%;
	display: inline-block;
}
.mid,
.right{
	width: 100%;
	background: #1ba8a7;
	height: 45px;
	margin-top: 25px;
}

#nav,
#navbar{
	display: inline-block;
	height: 45px;
	background: #1ba8a7;
	text-align: center;
}
#nav{
	float: right
}

#nav a,
#navbar a{
	color: #fff;
	display: inline-block;
	height: 45px;
	line-height: 37px;
	padding: 5px 10px;
}
.links{
	display: inline-block;
	font: 16px 'Raleway', sans-serif;
}
.links a{
	text-decoration: none;
	color: #fff;
	padding: 0 15px;
}
.links a:hover{
	text-decoration: none;
	color: #fff;
}
.links.active a,
.links a:hover {
  background: #13bfbe;
}

/* Navbar Styling*/
#navbar{
	font: 14px 'Raleway', sans-serif;
}
.mid #navbar a.active, #navbar a:hover{
	background-color: rgba(19, 191, 190, 0.4);
	text-decoration: none;
}

/* ===========GALLERY=============*/

.main{
	width: 95%;
	min-height: 475px;
	margin: 20px auto;
}
.main img{
	max-width: 100%;
	max-height: 100%;
}
.main li{
	float: left;
	max-width: 30%;
	list-style: none;
	margin: 6px;
	position: relative;
	display: inline-block;
}
.main ul{
	margin: 0 auto;
	/*overflow: hidden;*/
}

.main ul.hidden{
	display: none;
}

.row{
	margin: 20px auto;
}

/*===========ABOUT============*/
#portrait {
	padding: 15px;
	margin: 0 auto;
	border-radius: 50%;
}

#bio p{
	padding: 30px 0;
	color: #0b191c;
	font-size: 18px;
	font-family: 'News Cycle', sans-serif; 
} 

#resume{
	margin: 50px auto;
	display: block;
}
.resume-btn{
	text-align: center;
	background: #0b191c;
	color: #fff;
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'News Cycle', sans-serif; 
	font-size: 1.1em;
}
.resume-btn a{
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.resume-btn a:hover,
.resume-btn:hover{
	background-color: #ccc;
	text-decoration: none;
	color:#fff;
}

/*===========CONTACT=============*/
#all-contact{
	font-family: 'News Cycle', sans-serif; 
	font-size: 1.2em;
}
#all-contact h3{
	text-transform: uppercase;
}

#contact{
	width: 80%;
}

#filler{
	width:85%;
	margin: 20px; auto;
}

.submit-btn{
	color: #000;
	background: #fff;
	border: 1px #000 solid;
	padding: 10px 15px;
	text-transform: uppercase;
	margin-top: 20px auto 30px;
}
/*=============FOOTER==========*/
footer{
	text-align: center;
	color: #333;
	font-size: 14px;
	position: relative;
	bottom: 0; 
	left: 0;
	right: 0;
	
	height: 30px;
}
#footer-nav{
	font-family: 'News Cycle', sans-serif;
	text-transform: uppercase; 
	margin: 20px;
}
#footer-nav li{
	display: inline-block;
	text-decoration: none;
	padding: 20px 20px 50px;
}
#footer-nav a, #footer-nav a:hover{
	text-decoration: none;
	color: #828282;
}


